<!DOCTYPE html>
<html>
<head>
    <title>星级评分 - 4</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<nav>
    <ul class="">
        <li><a href="index1.html">1.0版本</a></li>
        <li><a href="index2.html">2.0版本</a></li>
        <li><a href="index3.html">3.0版本</a></li>
        <li><a href="index4.html">4.0版本</a></li>
        <li><a href="#">5.0版本</a></li>
    </ul>
</nav>

<div class="info">
    <h2>星级评分5.0</h2>
    <p>改进：</p>
    <ul>
        <li>1. 提取出抽象父类（点亮整颗和半颗星星的）</li>
        <li>有点累了，这门课程学习到这里已经开始乱了，休息一会下次再写吧^_^</li>
    </ul>
</div>
<!--<div class="rating">-->
    <!--<span>点亮整颗</span>-->
    <!--<ul id="rating4-1">-->
        <!--&lt;!&ndash;star-width/height = 26px&ndash;&gt;-->
        <!--<li class="rating-item" title="很差"></li>-->
        <!--<li class="rating-item" title="较差"></li>-->
        <!--<li class="rating-item" title="一般"></li>-->
        <!--<li class="rating-item" title="较好"></li>-->
        <!--<li class="rating-item" title="很好"></li>-->
    <!--</ul>-->
<!--</div>-->

<!--<div class="rating">-->
    <!--<span>点亮半颗</span>-->
    <!--<ul id="rating4-2">-->
        <!--&lt;!&ndash;star-width/height = 26px&ndash;&gt;-->
        <!--<li class="rating-item" title="很差"></li>-->
        <!--<li class="rating-item" title="较差"></li>-->
        <!--<li class="rating-item" title="一般"></li>-->
        <!--<li class="rating-item" title="较好"></li>-->
        <!--<li class="rating-item" title="很好"></li>-->
    <!--</ul>-->
<!--</div>-->

<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<!--每次复制完html一定要修改下面的文件名啊啊啊啊-->
<script src="../static/js/index4.js"></script>
</body>
</html>